@charset "UTF-8";
/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/
.profile-admin {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  margin: 100px auto;
}

#createNewProductForm {
  display: flex;
  flex-direction: column;
}

.profile-customer {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}
.profile-customer__sidebar {
  width: 18%;
  height: 1000px;
  background: rgba(0, 19, 68, 0.66);
  padding-top: 10%;
}
.profile-customer__sidebar__link {
  text-decoration: none;
}
.profile-customer__sidebar__link div {
  background: #999FAD;
  border: 1px solid rgba(0, 0, 0, 0.19);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  height: 5%;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #010101;
}
.profile-customer__sidebar__link:hover {
  cursor: pointer;
  opacity: 80%;
}
.profile-customer__offers-history {
  padding: 5% 0 0 5%;
  width: 82%;
  height: 1000px;
}
.profile-customer__offers-history h1 {
  font-size: 55px;
}
.profile-customer__offers-history__offers {
  margin-top: 5%;
  width: 90%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 24rem 24rem 24rem;
  grid-template-rows: 20rem 20rem;
}
.profile-customer__offers-history__offers__offer {
  background: rgba(153, 159, 173, 0.13);
  border: 1px solid #999FAD;
  border-radius: 13px;
  padding: 5% 0 0 5%;
}
.profile-customer__offers-history__offers__offer h2 {
  font-size: 27px;
}
.profile-customer__offers-history__offers__offer h6 {
  margin-top: 7%;
  font-size: 15px;
}
.profile-customer__offers-history__offers__offer h3 {
  margin-top: 30%;
  font-size: 15px;
}
.profile-customer__offers-history__navigation {
  margin-top: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.profile-customer__offers-history__navigation img {
  cursor: pointer;
}

.login-signup-form {
  color: #FFFFFF;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  background: rgba(0, 19, 68, 0.66);
}
.login-signup-form__links {
  width: 90%;
  color: #999FAD;
}
.login-signup-form__navigation {
  padding-top: 4%;
  display: flex;
  gap: 5%;
}
.login-signup-form__form {
  margin-top: 10%;
  width: 90%;
}
.login-signup-form__label {
  margin: 3% 0;
}
.login-signup-form__input {
  border-radius: 30px;
  font-size: 25px;
}
.login-signup-form__submit {
  margin: 4% auto;
  width: 30%;
  border-radius: 30px;
  background: aquamarine;
}
.login-signup-form__link:hover {
  cursor: pointer;
  color: #FFFFFF;
}
.login-signup-form__link_active {
  border-bottom: 1px solid red;
}
.login-signup-form hr {
  width: 90%;
}
.login-signup-form__forgot-password {
  cursor: pointer;
  padding: 4% 0;
}

#authorization-form, #registration-form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=ProfileStyles.css.map */
