.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 67px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}
.main__main-catalog img {
  padding-bottom: 42px;
}
.main__main-catalog {
  font-size: 27px;
  color: #010101;
  width: 1607px;
  height: 263px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.main__main-catalog div:hover {
  cursor: pointer;
}
.main__main-catalog img:hover {
  transform: scale(1.2);
  transition: 0.2s ease;
}
.main__content {
  flex-direction: column;
}
.main__content__search-menu {
  display: flex;
  font-size: 36px;
}
.main__content__search-menu__side-menu {
  width: 430px;
  height: 420px;
  background: rgba(217, 217, 217, 0.29);
}
.main__content__search-menu__side-menu__header {
  height: 84px;
}
.main__content__search-menu__side-menu__header button {
  width: 50%;
  height: 100%;
  font-size: 27px;
  line-height: 15px;
}
.main__content__search-menu__side-menu__product {
  padding: 10px 0 0 29px;
  border-bottom: solid 0.1px black;
}
.main__content__search-menu__main-search {
  margin-left: 78px;
  height: 420px;
  color: #010101;
}
.main__content__search-menu__main-search__search-dropdown {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1096px;
  height: 263px;
  background: rgba(217, 217, 217, 0.29);
}
.main__content__search-menu__main-search__search-dropdown input {
  margin-left: 23px;
  width: 215px;
  height: 36.06px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.19);
  outline: none;
}
.main__content__search-menu__main-search h4 {
  font-size: 20px;
  line-height: 15px;
}
.main__content__search-menu__main-search h2 {
  margin-top: 63px;
  font-size: 40px;
  line-height: 15px;
}
.main__content__catalog {
  margin-top: 29px;
  width: 100%;
  height: 200px;
  background: red;
}
.main__smart-search {
  width: 100%;
  height: 262px;
  background: rgba(0, 14, 50, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 136px;
}
.main__smart-search__vin-brand-search {
  display: flex;
  margin-top: 16px;
  font-size: 32px;
  color: #FFFFFF;
}
.main__smart-search__vin-brand-search div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(4, 77, 255, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 84px;
  width: 278px;
  height: 67px;
}
.main__smart-search__vin-brand-input input {
  margin-top: 34px;
  box-sizing: border-box;
  width: 772px;
  height: 70.67px;
  font-size: 45px;
  background: rgba(217, 217, 217, 0.44);
  border: 3px solid #252525;
  border-radius: 88px;
  outline: none;
}
.main__partners {
  margin-top: 117px;
  height: 495px;
  text-align: center;
  font-size: 32px;
  color: #000000;
}
.main__partners img {
  margin-top: 28px;
}
.main__feedback {
  position: relative;
}
.main__feedback__feedback-form {
  top: 43px;
  left: 422px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  width: 614px;
  height: 762px;
  background: rgba(0, 0, 0, 0.83);
}
.main__feedback__feedback-form h3 {
  display: flex;
  align-items: center;
  width: 523px;
  height: 122px;
  font-size: 35px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
  text-align: center;
}
.main__feedback__feedback-form button {
  font-size: 32px;
  color: #FFFFFF;
  width: 232px;
  height: 51px;
  background: rgba(250, 251, 251, 0.44);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__feedback__feedback-form input {
  width: 534px;
  height: 70.67px;
  font-size: 25px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px #FFFFFF solid;
  color: #FFFFFF;
  outline: none;
}
.main__benefits {
  margin-top: 120px;
  display: flex;
  gap: 290px;
  width: 1461px;
  height: 335px;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.09em;
  color: #000000;
}
.main__benefits__delivery {
  margin-top: 33px;
}
.main__benefits img {
  padding-bottom: 37px;
}

/*# sourceMappingURL=MainStyles.css.map */
