.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

.catalog {
  font-size: 27px;
  color: #010101;

  width: 95%;
  display: flex;
  flex-direction: column;
  padding-bottom: 7%;

  //List of images-links

  &__elements {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__image {
    margin-bottom: 8%;
  }

  &__element:hover {
    cursor: pointer;
  }

  &__image:hover {
    transform: scale(1.2);
    transition: 0.2s ease;
  }

  // Content rendered after clicking links

  &__content {
    margin-top: 5%;
    flex-direction: column;
    display: none;
  }
  &__content-active{
    display: flex;
  }

  &__search-menu {
    display: flex;
    font-size: 36px;
  }

  &__side-menu {
    width: 25%;
    background: rgba(217, 217, 217, 0.29);
  }

  &__header {
    height: 10%;
  }

  &__header button {
    width: 50%;
    height: 100%;
    font-size: 27px;
    line-height: 15px;
  }

  &__products-titles {
    padding: 2% 5%;
  }
  &__product-element{
    padding: 2% 0;
    border-bottom: 1px solid gray;
  }

  &__main-search {
    margin-left: 5%;
    width: 70%;
    color: #010101;
  }
  &__name-and-exit{
    display: flex;
    justify-content: space-between;
  }
  &__hide-content{
    width: 3%;
    height: 7%;
    float: right;
    padding-right: 3%;
    cursor: pointer;
  }
  &__hide-content:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
  }

  &__search-dropdown {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__input {
    margin: 1% 3%;
    padding: 1% 0;
    width: 30%;
    box-shadow: inset 0px 5px 2px rgba(0, 0, 0, 0.19);
    outline: none;
  }

  &__products {
    margin-top: 5%;
    width: 100%;
    height: 400px;
    background: red;
  }
}

// Smart-search

.smart-search {
  width: 100%;
  height: 262px;
  background: rgb(0, 14, 50, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 136px;

  &__vin-brand-search {
    display: flex;
    margin-top: 16px;

    font-size: 32px;
    color: #FFFFFF;
  }
  &__vin-brand-search div {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(4, 77, 255, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 84px;
    width: 278px;
    height: 67px;
  }
  &__vin-brand-input input {
    margin-top: 34px;
    box-sizing: border-box;

    width: 772px;
    height: 70.67px;
    font-size: 45px;
    background: rgba(217, 217, 217, 0.44);
    border: 3px solid #252525;
    border-radius: 88px;
    outline: none;
  }
}

// Partners

.partners {
  margin-top: 117px;
  height: 495px;
  text-align: center;

  font-size: 32px;
  color: #000000;
}
.partners img{
  margin-top: 28px;
}

// Feedback

.feedback {
  position: relative;
  &__feedback-form {
    top: 43px;
    left: 422px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 80px;

    align-items: center;
    width: 614px;
    height: 762px;
    background: rgba(0, 0, 0, 0.83);
  }
  &__feedback-form h3 {
    display: flex;
    align-items: center;
    width: 523px;
    height: 122px;

    font-size: 35px;
    letter-spacing: 0.09em;
    color: #FFFFFF;
    text-align: center;
  }
  &__feedback-form button {
    font-size: 32px;
    color: #FFFFFF;

    width: 232px;
    height: 51px;
    background: rgba(250, 251, 251, 0.44);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__feedback-form input {
    width: 534px;
    height: 70.67px;

    font-size: 25px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px #FFFFFF solid;
    color: #FFFFFF;
    outline: none;
  }
}

// Benefits

.benefits {
  margin-top: 120px;
  display: flex;
  gap: 290px;
  width: 1461px;
  height: 335px;
  text-align: center;

  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.09em;

  color: #000000;
  &__delivery {
    margin-top: 33px;
  }
}
.benefits img {
  padding-bottom: 37px;
}