.custom-notification {
  padding: 20px;
  background-color: lightskyblue;
  color: #000000;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}