.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

.catalog {
  font-size: 27px;
  color: #010101;
  width: 95%;
  display: flex;
  flex-direction: column;
  padding-bottom: 7%;
}
.catalog__elements {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.catalog__element {
  width: 15%;
  cursor: pointer;
}
.catalog__image {
  margin-bottom: 8%;
  width: 60%;
}
.catalog__image:hover {
  transform: scale(1.2);
  transition: 0.2s ease;
}
.catalog__content {
  margin-top: 5%;
  padding-bottom: 5%;
  flex-direction: column;
  display: none;
}
.catalog__content-active {
  display: flex;
}
.catalog__search-menu {
  display: flex;
  font-size: 36px;
}
.catalog__side-menu {
  width: 25%;
  background: rgba(217, 217, 217, 0.29);
}
.catalog__header {
  height: 10%;
}
.catalog__header button {
  width: 50%;
  height: 80%;
  font-size: 27px;
  line-height: 15px;
}
.catalog__products-titles {
  padding: 2% 5%;
}
.catalog__product-element {
  padding: 2% 0;
  border-bottom: 1px solid gray;
}
.catalog__main-search {
  margin-left: 5%;
  width: 70%;
  color: #010101;
}
.catalog__name-and-exit {
  display: flex;
  justify-content: space-between;
}
.catalog__hide-content {
  width: 3%;
  height: 7%;
  float: right;
  padding-right: 3%;
  cursor: pointer;
}
.catalog__hide-content:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}
.catalog__search-dropdown {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.catalog__input {
  margin: 1% 3%;
  padding: 1% 0;
  width: 30%;
  box-shadow: inset 0px 5px 2px rgba(0, 0, 0, 0.19);
  outline: none;
}
.catalog__products {
  margin-top: 5%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 40% 40%;
}
.catalog__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.catalog__product-image {
  width: 70%;
  height: 70%;
  max-width: 275px;
  max-height: 280px;
  object-fit: contain;
}

.advertizing {
  width: 80%;
}
.advertizing__image {
  width: 100%;
}

.smart-search {
  width: 80%;
  background: rgba(0, 14, 50, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 136px;
  padding-bottom: 3%;
}
.smart-search__buttons {
  display: flex;
  width: 40%;
  margin-top: 2%;
}
.smart-search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #FFFFFF;
  background: rgba(4, 77, 255, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 84px;
  width: 50%;
  padding: 2% 0;
  cursor: pointer;
}
.smart-search__input-wrapper {
  width: 60%;
}
.smart-search__input {
  margin-top: 3%;
  box-sizing: border-box;
  width: 100%;
  font-size: 45px;
  background: rgba(217, 217, 217, 0.44);
  border: 3px solid #252525;
  border-radius: 88px;
  outline: none;
}

.partners {
  margin-top: 10%;
  text-align: center;
  width: 60%;
  font-size: 32px;
  color: #000000;
}

.partners img {
  margin-top: 4%;
  width: 100%;
}

.feedback {
  position: relative;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback__background-image {
  width: 100%;
}
.feedback__feedback-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background: rgba(0, 0, 0, 0.83);
}
.feedback__title {
  width: 80%;
  padding-top: 3%;
  font-size: 35px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
  text-align: center;
}
.feedback__input {
  width: 85%;
  margin: 5% 0;
  padding: 3% 0;
  font-size: 25px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px #FFFFFF solid;
  color: #FFFFFF;
  outline: none;
}
.feedback__submit {
  font-size: 32px;
  color: #FFFFFF;
  margin-bottom: 5%;
  width: 60%;
  background: rgba(250, 251, 251, 0.44);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.benefits {
  margin-top: 6%;
  display: flex;
  width: 80%;
  text-align: center;
  gap: 18%;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.09em;
  color: #000000;
}
.benefits__image {
  width: 100%;
}

/*# sourceMappingURL=MainStyles.css.map */
