/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

// Admin profile

.profile-admin {
  margin-top: 1%;
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

#createNewProductForm{
  display:flex;
  flex-direction: column;
}


// Customer profile

.profile-customer{
  margin-top: 1%;
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 15px;

  &__orders-history{
    padding: 5% 0 0 5%;
    width: 82%;
    height: 1000px;

    & h1{
      font-size: 55px;
    }

    &__orders{
      margin-top: 5%;
      width: 90%;
      display: grid;
      grid-gap: 2rem;

      grid-template-columns: 24rem 24rem 24rem;
      grid-template-rows: 20rem 20rem;
      &__order{
        background: rgba(153, 159, 173, 0.13);
        border: 1px solid #999FAD;
        border-radius: 13px;
        padding: 5% 0 0 5%;
        & h2{
          font-size: 27px;
        }
        & h6{
          margin-top: 7%;
          font-size: 15px;
        }
        & h3{
          margin-top: 30%;
          font-size: 15px;
        }
      }
    }

    &__navigation{
      margin-top: 5%;
      width: 90%;
      display: flex;
      justify-content: space-between;
      & img {
        cursor: pointer;
      }
    }
  }
}

// Worker profile



// Sidebar

.sidebar{
  width: 20%;
  height: 1000px;
  background: rgb(0, 19, 68, 0.66);
  padding-top: 10%;
  &__link{
    text-decoration: none;
    &:hover{
      cursor: pointer;
      opacity: 80%;
    }
  }
  &__title{
    background: #999FAD;
    border: 1px solid rgba(0, 0, 0, 0.19);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    height: 5%;

    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #010101;
  }
}